body{

font-family:Tahoma;
background:#f1f5f9;
padding:20px;

}


.box{

max-width:450px;
margin:auto;
background:white;
padding:25px;
border-radius:15px;
box-shadow:0 5px 20px #ccc;

}


h1{

text-align:center;
color:#075e54;

}


input{

width:100%;
padding:12px;
margin:8px 0;
border-radius:8px;
border:1px solid #ccc;

}


button{

width:100%;
padding:14px;
background:#25d366;
color:white;
border:0;
border-radius:10px;
font-size:18px;
cursor:pointer;

}


.agree{

margin:15px 0;

}


#result{

text-align:center;
font-weight:bold;

}
